# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
env/
venv/
env.bak/
venv.bak/
docker.env

# IDE and text editor settings
.idea
.vscode/
.VSCodeCounter
.DS_Store

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*.cover
.pytest_cache/

# Translations
*.mo
*.pot

# Django
ticketing/media/*
!ticketing/media/.gitkeep
ticketing/media/images/*
!ticketing/media/images/.gitkeep
ticketing/staticfiles/*

# Celery
celerybeat-schedule
celerybeat.pid
